<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Board Form</title>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <head th:replace="fragments/header::header"/>
</head>
<body>

<div class="container">
    <div th:replace="~{fragments/bodyHeader::bodyHeader}"></div>
    <div class="page-header">
        <h1>게시글 등록</h1>
    </div>
    <br/>

    <form action="form.html" th:object="${board}" th:action method="post">
        <table class="table">
            <tr>
                <th style="padding:13px 0 0 15px">지역 선택</th>
                <td>
                    <select th:field="*{localType}" class="form-select">
                        <option value="">==위치 선택==</option>
                        <option th:each="type : ${localTypes}" th:value="${type.name()}"
                                th:text="${type.value}">서울
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px">생성 날짜</th>
                <td><input type="text" class="col-md-1 form-control input-sm" readonly="readonly"
                           th:value="${board?.createdAt} ? ${#temporals.format(board.createdAt, 'yyyy-MM-dd HH:mm')} : ${board?.createdAt}"/>
                </td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px">제목</th>
                <td><input id="title" type="text" class="col-md-1 form-control input-sm" th:field="*{title}"/></td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px">내용</th>
                <td><textarea id="content" class="col-md-1 form-control input-sm" maxlength="140" rows="7"
                              style="height: 200px;"
                              th:field="*{content}"></textarea><span class="help-block"></span>

            </tr>
        </table>
        <button type="submit" class="btn btn-primary">저장</button>
        <button type="button" class="btn btn-danger" th:onclick="goBack()">취소</button>
    </form>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>

    <div th:replace="~{fragments/footer::footer}"></div>

</div>
</body>
</html>